@import "../mixins/variables";
@import "../mixins/_mixins";

.mainAdoptContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  @include tablet {
    margin-top: 55px;
  }

  .searchNClearContainer {
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
    }

    .searchContainer {
      display: flex;
      flex-direction: column;
      padding-left: 30px;

      .searchBar {
        padding-left: 10px;
        border-radius: 20px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        width: 200px;
        height: 25px;
        border: none;
        font-size: 8pt;
        color: black;

        @include desktop {
          width: 300px;
        }

        &:focus {
          outline: none;
          box-shadow: $purple 0px 2px 4px 0px, $purple 0px 2px 16px 0px;
        }
      }
    }

    .filterIconContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;

      .filterCount {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        font-size: 6pt;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $purple;
        position: absolute;
        margin-right: 20px;
        top: -7px;
      }
    }
  }
  .outerFilterContainer {
    width: 100%;

    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
    .filteringContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      @include tablet {
        width: 50%;
        padding: 0 20px 0 0;
      }

      @include desktop-up {
        width: 30%;
      }
    }
  }

  .animalCardsContainer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
