@import "../mixins/variables";

.scheduleMainContainer {
  margin-bottom: 100px;
  .headerContainer {
    padding-left: 30px;
    margin-bottom: 50px;

    p {
      font-size: $mediumHeader;
    }
  }
}
