@import "../../mixins//variables";
@import "../../mixins/mixins";
.animalDetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;

  @include tablet-up {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .nameContainer {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 15px;

    @include tablet-up {
      margin-bottom: 50px;
    }
    p {
      font-weight: bolder;
      font-size: 15pt;
      padding: 0;
      margin: 0;

      @include tablet-up {
        font-size: 20pt;
      }
    }
  }

  .carouselContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    @include tablet-up {
      width: 50%;
    }
  }

  .informartion {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    @include phone-to-tablet {
      width: 80%;
    }
    @include tablet {
      width: 70%;
    }

    @include tablet-up {
      width: 30vw;
      margin-top: 0;
      align-items: center;
      gap: 20px;
      padding: 30px;
    }

    div {
      background-color: $yellow;
      height: 15px;
      display: inline-block;
      border-radius: $border-radius;
      padding: 10px;
      text-align: center;
      box-shadow: $boxShadowSoft;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .descContainer {
    box-shadow: $boxShadowSoft;
    line-height: 23px;
    width: 80%;
    background-color: $orange;
    padding: 20px;
    border-radius: 20px;

    @include phone-to-tablet {
      width: 70%;
    }
    @include tablet {
      width: 60%;
    }

    @include tablet-up {
      margin-top: 50px;
      width: 40%;
    }
  }

  .addContainer,
  .removeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $yellow;
    box-shadow: $boxShadowSoft;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
